:root {
  --background-color: #000;
  --text-color: #d8d8d8;

  --font-family: 'Karla', sans-serif;
}

.navbar {
  background-color: var(--background-color);
  color: var(--text-color);
  border-bottom: 0.5px solid gray;
  width: 100%;
  line-height: 80px;
  height: 80px;
  font-size: 18px;
  padding: 0 30px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--font-family);
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar a.nav-logo {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: bold;
}

.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}

.navbar ul li a:hover {
  background-color: gray;
}

.navbar-dropdown {
  display: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  max-width: 1250px;
  margin: 0 auto;
}

.content,
.documentation {
  height: calc(100vh - 150px);
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  margin-left: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.documentation {
  background: #C9D6FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px;
  margin: 150px 30px 30px 30px;
  margin-top: 10vh;
  border-radius: .5rem;
  height: max-content;
}

h1 {
  font-size: 70px;
}

p {
  margin-top: 10px;
}

main {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

.home-btn {
  margin-top: 20px;
  background: var(--text-color);
  cursor: pointer;
  color: #191919;
  padding: 12px 20px;
  float: left;
  border: 0;
  border-radius: 20px;
  margin-left: 10px;
}

.home-btn:hover {
  background: #848482;
}

img {
  margin-left: 175px;
  max-width: 700px;
  filter: grayscale(1)
}

img:hover {
  filter: grayscale(0);
  transition: 1.5s;
}

@media screen and (max-width: 968px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar ul {
    padding: 0 20px;
  }

  .navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  }

  .content,
  .documentation {
    margin-top: 20%;
    margin-left: 0;
  }

  .documentation {
    margin: 20px;
  }

  img {
    margin-left: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
    display: block;
  }

  .content {
    height: max-content;
  }

  img {
    margin-left: 0;
    max-width: 500px;
    filter: grayscale(1)
  }

  .navbar-list {
    display: none;
  }

  .navbar-dropdown {
    display: inline-block;
    margin-left: 25px;
  }
}

@media screen and (max-width: 500px) {
  .navbar>a.nav-logo {
    font-size: 32px;
  }
}


.token-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.token-box {
  width: 400px;
  min-height: 50px;
  max-height: 400px;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  word-wrap: break-word;
  overflow-y: scroll;
  position: relative;
}

.token-box::-webkit-scrollbar {
  width: 8px;
}

.token-box::-webkit-scrollbar-track {
  background-color: #000;
}

.token-box::-webkit-scrollbar-thumb {
  background-color: #ffffffc8;
  border-radius: 10px;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.copy-button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.token-box>p {
  margin: 2px;
  padding: 2px;
  text-align: center;
  font-size: large;
  font-weight: 300;
}

.verify-code__text {
  margin: 15px 0 0 0;
  font-weight: 300;
  text-align: center;
  color: var(--background-color);
}

.loading-docs {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: calc(100vh / 20);
}